.cart-vacio {
    height: 30rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    width: 25%;
}

.cart-vacio .btn {
    width: 30%;
}

.cart-vacio h1 {
    font-size: 5rem;
    font-family: 'Bebas Neue', cursive;
    font-weight: 300;
}

/* productos */

.productostext {
    margin-top: 100px;
    padding: 50px;
    font-family: 'Londrina Solid', cursive;
    letter-spacing: 1px;
    font-size: 1rem;
    font-weight: 700;
    text-align: center;
    color: #023A71;
}

.container-product {
    width: 85%;
    margin: auto;
}

.text-product-one {
    font-family: 'Bebas Neue', cursive;
    margin: 20px 0 3px 0;
    letter-spacing: 1px;
    font-size: 0.8rem;
    font-weight: 500;
    color: #000000;
}

.text-product-two {
    font-family: Arial;
    margin: 3px 0 3px 0;
    letter-spacing: 0.5px;
    font-size: 0.8rem;
    font-weight: 500;
    color: #000000;
}

.text-product-three {
    font-family: Arial;
    margin: 3px 0 3px 0;
    letter-spacing: 0px;
    font-size: 0.9rem;
    font-weight: 500;
    color: #afafaf;
}

.btn-food {
    margin-top: 1rem;
    background-color: #023A71;
    width: 55%;
    color: white;
    cursor: pointer !important;
}

.food-size {
    height: 18rem;
    width: 10rem;
}

.boton-navbar {
    padding: 1rem;
    background-color: #023A71;
    color: #FFF;
}

.boton-margin {
    font-family: 'Bebas Neue', cursive;
    margin-left: 1rem;
}

.nav-link {
    border-bottom: 1px solid rgb(214, 214, 214);
}

.container-encabezado-dog {
    background-color: #FFB07A;
    color: #812a00;
    height: 15rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: 'Londrina Solid', cursive;
}

.text-encabezado-dog {
    color: #812a00;
    font-family: 'Londrina Solid', cursive;
    display: flex;
    flex-direction: row;
}

.container-encabezado-dog div {
    margin: 15px;
}

.container-img-asa {
    display: flex;
    justify-content: center;
    gap: 5rem;
    flex-wrap: wrap;
    background-color: #FFB07A;
}

.container-text-asa {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.letraPerro {
    font-family: 'Londrina Solid', cursive;
    transition: all 500ms ease-out;
    padding: 2rem;
    color: #812a00;
}

.letraPerro:hover {
    color: white
}

.container-filtro {
    margin-top: 50px;
    color: #FFB07A;
    gap: 20px;
    flex-wrap: wrap;
    height: 3rem;
    margin-bottom: 5rem;
}

.propiedades-boton {
    margin-top: 0.5rem;
    font-family: 'Bebas Neue', cursive;
    color: #812a00;
}

.vermas {
    background-color: #023A71;
    color: #ffffff;
    height: 3rem;
    width: 8rem;
    border: 1px solid #000000;
    font-size: 1.1rem;
    font-family: 'Londrina Solid', cursive;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 100px;
    transition: all 500ms ease-out;
}

.vermas:hover {
    background-color: #ffffff;
    color: #023A71;
}

.icon-cart-plus,
.icon-user,
.icon-phone,
.icon-facebook-squared,
.icon-instagram,
.icon-whatsapp {
    font-size: 1.5rem;
    color: #FFF;
}