/* @Media */
@media (max-width: 575.98px) {
    .ghost-pages {
        display: block !important;
    }

    .ghost {
        display: none !important;
    }

    .container-pages {
        display: none !important;
    }

    .height-carousel {
        height: calc(100vh - 30rem) !important;
    }

    .container-category {
        display: flex;
        flex-wrap: wrap;
    }

    .container-category .container-category-dog {
        height: 15rem !important;
    }

    .container-category .container-category-dog .container-dog {
        margin-top: 20% !important;
        margin-left: 50%;
        text-align: center;
    }

    .container-category .container-category-cat {
        height: 15rem !important;
    }

    .container-category .container-category-cat .container-cat {
        margin-top: 20% !important;
        margin-left: 50%;
        text-align: center;
    }

    .container-product-mobile {
        width: 85%;
        margin-left: 12%;
        display: grid !important;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        gap: 5px;
    }

    .container-product-mobile .food-mobile {
        height: 80rem;
        width: 5rem;
    }

    .container-product-mobile .grid-one {
        grid-column: 0;
        grid-row: 1;
    }

    .container-product-mobile .grid-two {
        grid-column: 0.5;
        grid-row: 1;
    }

    .container-product-mobile .grid-three {
        grid-column: 0;
        grid-row: 2;
    }

    .container-product-mobile .grid-four {
        grid-column: 0.5;
        grid-row: 2;
    }

    .container-product-mobile .containerCard .text-product-one {
        font-family: 'Bebas Neue', cursive;
        margin: 20px 0 3px 0;
        letter-spacing: 1px;
        font-size: 0.8rem;
        font-weight: 500;
        color: #000;
    }

    .container-product-mobile .containerCard .text-product-two {
        font-family: Arial;
        margin: 3px 0 3px 0;
        letter-spacing: 0.5px;
        font-size: 0.8rem;
        font-weight: 500;
        color: #000;
    }

    .container-product-mobile .containerCard .text-product-three {
        font-family: Arial;
        margin: 3px 0 3px 0;
        letter-spacing: 0px;
        font-size: 0.9rem;
        font-weight: 500;
        color: #afafaf;
    }

    .container-publicity {
        flex-wrap: wrap;
    }

    .ghost-pages .dropdown {
        display: block !important;
        font-family: 'Bebas Neue', cursive;
        font-size: 1.3em;
        line-height: 35px;
        letter-spacing: 2px;
        margin-bottom: 0.05rem;
        color: #fff;
    }

    .ghost-pages .dropdown .btn {
        color: #fff;
    }

    .ghost-pages .dropdown .dropdown-menu .letras-footer {
        transition: all 0.1s ease-in-out;
        color: #000;
    }

    .ghost-pages .dropdown .dropdown-menu .letras-footer:hover {
        color: #023a71;
    }

    .ghost-pages .dropdown ul {
        font-family: 'Bebas Neue', cursive;
        line-height: 35px;
        letter-spacing: 1px;
        font-size: 0.8rem;
        list-style-type: none;
    }

    .ghost-pages .divider-mobile {
        height: 2px;
        width: 200px;
        background-color: #fff;
        margin: 30px auto;
    }

    .ghost-pages .dr-footer-mobile {
        color: #fff;
        margin-bottom: 1rem;
    }
}