.divGeneral {
    background-color: aqua;
    color: gray;
}

.cardProducto {
    width: 18rem;
    margin: 4px;
}

.btn-food {
    margin-top: 1rem;
    background-color: #023A71;
    width: 55%;
    color: white;
    cursor: pointer !important;
}

.productostext {
    margin-top: 100px;
    padding: 50px;
    font-family: 'Londrina Solid', cursive;
    letter-spacing: 1px;
    font-size: 1rem;
    font-weight: 700;
    text-align: center;
    color: #023A71;
}

.container-product {
    width: 85%;
    margin: auto;
}

.text-product-one {
    font-family: 'Bebas Neue', cursive;
    margin: 20px 0 3px 0;
    letter-spacing: 1px;
    font-size: 0.8rem;
    font-weight: 500;
    color: #000000;
}

.text-product-two {
    font-family: Arial;
    margin: 3px 0 3px 0;
    letter-spacing: 0.5px;
    font-size: 0.8rem;
    font-weight: 500;
    color: #000000;
}

.text-product-three {
    font-family: Arial;
    margin: 3px 0 3px 0;
    letter-spacing: 0px;
    font-size: 0.9rem;
    font-weight: 500;
    color: #afafaf;
}


.container-encabezado-dog {
    background-color: #FFB07A;
    color: #812a00;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: 'Londrina Solid', cursive;
}

.container-encabezado-dog div {
    margin: 15px;
}


.text-encabezado-dog {
    color: #812a00;
    font-family: 'Londrina Solid', cursive;
    display: flex;
    flex-direction: row;
}

/* Gatos                           ........                   ...........  */

.container-encabezado-cat {
    background-color: #D0B7D6;
    color: #564770;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: 'Londrina Solid', cursive;
}

.container-encabezado-cat div {
    margin: 15px;
}

.text-encabezado-cat {
    color: #564770;
    font-family: 'Londrina Solid', cursive;
    display: flex;
    flex-direction: row;
}

.container-img-asa-cat {
    display: flex;
    justify-content: center;
    gap: 5rem;
    flex-wrap: wrap;
    background-color: #D0B7D6;
}

.letraGato {
    font-family: 'Londrina Solid', cursive;
    transition: all 500ms ease-out;
    padding: 2rem;
    color: #564770;
}

.letraGato:hover {
    color: white
}

.container-text-asa-cat {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.container-filtro-cat {
    margin-top: 50px;
    color: #D0B7D6;
    gap: 20px;
    flex-wrap: wrap;
    height: 3rem;
    margin-bottom: 5rem;
}

.propiedades-boton-cat {
    margin-top: 0.5rem;
    font-family: 'Bebas Neue', cursive;
    color: #564770;
}